# Ignorer tout WordPress
wp-admin/
wp-includes/
wp-content/*

# Garder uniquement le thème acaee
!wp-content/themes/
!wp-content/themes/acaae/
!wp-content/themes/acaae/**

# (optionnel mais recommandé)
wp-config.php
*.log
.DS_Store
node_modules/
